<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
    <title>EGG</title>
    <link href="/styles/cssIndex.css" rel="stylesheet">
</head> 
<body>
    <header>
        <nav>
            <img class="logo" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTFwCf6Jgte_1GaxMDnxYJm_Tk4PUMYq6nwkA&usqp=CAU" alt="">
        </nav>
        <section class="btnInicio">
            <a class="btn first" style="width: 80px; height: 30px; padding-top: 15px; margin: 20px;" href="">INICIO</a>
            <a class="btn first" style="width: 100px; height: 30px; padding-top: 15px; margin: 20px;" href="">SUBASTAR</a>
            <a class="btn first" style="width: 100px;  height: 45px;  margin: 20px;" href="">Mis <br> Productos </a>
        </section>
        <section class="buscador2">
            <i class='bx bx-search bx-lg' style=" margin-left: 50px;" id="buscar"></i>
            <section>
                <section class="s1 bg none" id="buscar2">
                    <section>
                        <input style="margin-top: 30px; height: 30px; text-align: center; font-size: 25px; width: 60%;" type="text" placeholder="Buscar" name="" id="">
                        <br>
                        <select name="Tipo" style="width: 40%; margin-top: 30px;">
                            <option th:each="category : ${categories}" th:text="${category}"></option>
                        </select>
                        <br>
                        <select name="Estado" style="width: 40%; margin-top: 30px;">
                            <option th:each="state : ${states}" th:text="${state}" ></option>
                        </select>
                        <br>
                        <select name="transporte" style="width: 40%; margin-top: 30px;">
        
                            <option value="">Envio</option>
        
                            <option>Si</option>
                            
                            <option>No</option>
                            
                        </select>
                        <br>
                        <input type="text" placeholder="Precio minimo" style="width: 60%; text-align: center; margin-top: 30px"><br>
                        <input type="text" placeholder="Precio maximo" style="width: 60%; text-align: center; margin-top: 30px"><br>
                    </section>
                    <button style="margin-top: 30%; width: 50%; font-size: 25px;" class="btn first">Buscar</button>
                </section>
            </section>
        </section>
        <i class='bx bxs-user-circle bx-lg' style="margin-top: 25px;" id="menu"></i>
        <div id="menu2" class="menu2 none">
            <p>Hola</p>
            <p>Soy de soporte</p>
            <p>Como estas?</p>
            <a href="" class="borrar">INICIO</a> <br>
            <a href="" class="borrar">SUBASTAR</a> <br>
            <a href="" class="borrar">Mis <br> PRODUCTOS</a>
        </div>
    </header>
    <main>
        <div class="box1">
            <section class="s1">
                <section>
                    <input style="margin-top: 30px; height: 30px; text-align: center; font-size: 25px; width: 60%;" type="text" placeholder="Buscar" name="" id="">
                    <br>
                    <label>Categoria:</label>
                    <select  name="Tipo" style="width: 40%; margin-top: 30px;">
                        <option th:each="category : ${categories}" th:text="${category}">
                    </select>
                    <br>
                    <label>Estado:</label>
                    <select name="Estado" style="width: 40%; margin-top: 30px;">
                        <option th:each="state : ${states}" th:text="${state}">
                    </select>
                    <br>
                    <label>Envio:</label>
                    <select name="transporte" style="width: 40%; margin-top: 30px;">
                        <option>Si</option>
                        <option>No</option>
                    </select>
                    <br>
                    <input type="number" placeholder="Precio minimo" style="width: 60%; text-align: center; margin-top: 30px"><br>
                    <input type="number" placeholder="Precio maximo" style="width: 60%; text-align: center; margin-top: 30px"><br>
                </section>
                <button style="margin-top: 30%; width: 50%; font-size: 25px;" class="btn first">Buscar</button>
            </section>
            <section class="s2" th:each="auction : ${auctionList}">
                    <section class="card"> 
                        <p th:text="${auction.objects.name}"></p>
                        <section class="card2">
                            <section class="card-box1">
                                <img class="img-card" src="https://www.lifeder.com/wp-content/uploads/2018/06/concepto-de-arte-caras-min-1024x678.jpg" alt="">
                                <p>DESDE-HASTA</p>
                            </section>
                            <section class="card-box2">
                                <p>Descripcion del producto:</p>
                                <p th:text="${auction.objects.description}"></p>
                                <i class='bx bx-cart-add bx-lg'></i>
                            </section>
                        </section>
                <!--Una box2 contiene 2 card que cada una contiene todo lo que lleva lo que se muestra al cliente
                cada card tiene un titulo una imagen una fecha descripcion y boton  -->
            </section>
        </div>
        
    </main>
    <footer>
        <a href="">CONTACTO</a>
        <a href="">TERMINOS Y CONDICIONES</a>
        <a href="">QUIENRES SOMOS</a>
        <a href="">PREGUNTAS FRECUENTES</a>
    </footer>
    <script>
        let menu = document.getElementById('menu');
        let menu2 =  document.getElementById('menu2');
        let buscar2 =document.getElementById('buscar2');
        let buscar = document.getElementById('buscar');
        menu.addEventListener('click', ()=>{
            menu2.classList.toggle("none");     
        });
        buscar.addEventListener('click', ()=>{
            buscar2.classList.toggle("none");
        });
    </script>
</body>
</html>