<!DOCTYPE html>
<html
    lang="en"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
    >
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Subasta2</title>
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
            crossorigin="anonymous"
            />
        <link href="/styles/cssIndex.css" rel="stylesheet" />
        <link rel="stylesheet" href="/styles/form.css">
    </head>
    <body class="fondo">
        <nav th:replace="fragments/fragments::navbar"></nav>
        <p th:if="${error != null}" th:text="${error}" style="color: red"></p>
        <div class="box1">
            <section class="s1">
                <section>
                    <form method="post" th:action="@{/}">
                        <input
                            style="
                            margin-top: 30px;
                            height: 30px;
                            text-align: center;
                            font-size: 25px;
                            width: 60%;
                            "
                            type="text"
                            placeholder="Buscar"
                            name="name"
                            id=""
                            value=""
                            />
                        <br />
                        <label>Categoria:</label>
                        <select name="category" style="width: 40%; margin-top: 30px">
                            <option value="">Categoria</option>
                            <option
                                th:each="category : ${categories}"
                                th:text="${category}"
                                ></option>
                        </select>

                        <br />
                        <label>Estado:</label>
                        <select name="state" style="width: 40%; margin-top: 30px">
                            <option value="">Estado</option>
                            <option th:each="state : ${states}" th:text="${state}"></option>
                        </select>

                        <br />
                        <label>Envio:</label>
                        <select name="shipping" style="width: 40%; margin-top: 30px">
                            <option>Si</option>
                            <option>No</option>
                        </select>
                        <br />
                        <input
                            type="text"
                            placeholder="Precio minimo"
                            style="width: 60%; text-align: center; margin-top: 30px"
                            name="valueMin"
                            value=""
                            /><br />
                        <input
                            type="text"
                            placeholder="Precio maximo"
                            style="width: 60%; text-align: center; margin-top: 30px"
                            name="valueMax"
                            value=""
                            /><br />
                </section>
                <button
                    style="margin-top: 30%; width: 50%; font-size: 25px"
                    class="btn first"
                    type="submit"
                    >
                    Buscar
                </button>
                </form>
            </section>
            <div class="container">
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                    <div
                        class="card"
                        style="width: 18rem"
                        th:each="auction : ${auctionList}"
                        >
                        <img
                            src="https://www.lifeder.com/wp-content/uploads/2018/06/concepto-de-arte-caras-min-1024x678.jpg"
                            class="card-img-top"
                            alt=""
                            />
                        <div class="card-body">
                            <h5 class="card-title" th:text="${auction.objects.name}"></h5>
                            <p class="card-text" th:text="${auction.objects.description}"></p>
                            <div class="sub">
                                <section class="sub1">
                                    <p>Hasta:</p>
                                    <p
                                        th:text="${#temporals.format(auction.auctionDate, 'dd/MM/yyyy', locale)}"
                                        ></p>
                                </section>
                                <section class="sub1">
                                    <p>Ultima Puja:</p>
                                    <p th:text="${auction.objects.initialValue}" style="text-align: center;"></p>
                                </section>
                            </div>
                            <a href="#" class="btn btn-primary">Subasta</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <footer
                class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top"
                >
                <div class="col-md-4 d-flex align-items-center">
                    <a
                        href="/"
                        class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1"
                        >
                        <svg class="bi" width="30" height="24">
                        <use xlink:href="#bootstrap" />
                        </svg>
                    </a>
                    <span class="text-muted">&copy; 2021 Subasta2 Company, Inc. Todo lo que quieras vender/comprar al alcanze de un click
                    </span>
                </div>

                <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
                    <li class="ms-3">
                        <a class="text-muted" href="#"
                           ><svg class="bi" width="24" height="24">
                            <use xlink:href="#twitter" /></svg
                            ></a>
                    </li>
                    <li class="ms-3">
                        <a class="text-muted" href="#"
                           ><svg class="bi" width="24" height="24">
                            <use xlink:href="#instagram" /></svg
                            ></a>
                    </li>
                    <li class="ms-3">
                        <a class="text-muted" href="#"
                           ><svg class="bi" width="24" height="24">
                            <use xlink:href="#facebook" /></svg
                            ></a>
                    </li>
                </ul>
            </footer>
        </div>
        <script
            src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
            integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
            crossorigin="anonymous"
        ></script>
        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
            integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
            crossorigin="anonymous"
        ></script>
    </body>
</html>
