:root{
    --buttons--: #79A7F3;
    --color2--: white;
}
header{
    height: 100px;
    display: flex;
    text-align: center;
    justify-content: space-around;
    border-bottom: solid var(--buttons--);
    margin-bottom: 10px;
}
a{
    text-decoration: none;
    color: black;
    
}
.menu2{
    display: block;
    width: 130px;
    text-align: right;
    height: max-content;
    position: sticky;
    top: 0px;
    right: 5px;
    position: absolute;
    z-index: 1;
    margin-top: 100px;
    margin-right: 20px;
    padding: 8px;
    background-color: var(--buttons--);
    border: solid;
    border-radius: 20px;
    color: var(--color2--);
}
.none{
    display: none;
}
footer{
    background-color: black;
    height: 70px;
    color: white;
    display: flex;
    justify-content: space-around;
    text-align: center;
    padding: 10px;
    
}
footer a{
    color: white;
    margin-top: 23px;
}
.box1{
    width: 99%;
    height: max-content;
    min-height: 700px;
    display: flex;
}
.s1{
    width: 25%;
    max-width: 300px;
    height: 500px;
    border: solid;
    border-left: none;
    text-align: center;
    background-color: var(--buttons--);
}
.btn {
            background-color: white;
            border: 2px solid var(--buttons--);
            color: var(--buttons--);
            cursor: pointer;
            font-size: 16px;
            margin: 20px;
            padding: auto;
            text-align: center;
            border-radius: 50px;
            padding: 5px 24px;
            margin: auto;
            text-align: center;
            height: 40px;
        }
        .btn:hover,
        .btn:focus {
            color: #fff;
            outline: 0;
        }

        .first {
            -webkit-transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
            transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
        }
        .first:hover {
            box-shadow: 0 0 40px 40px var(--buttons--) inset;
            color: white;
        }
        .s2{
            width: 90%;
            height: 300px;
            margin: auto;
            display: flex;
            margin-top: 0px;
        }
        .card{
            width: 45%;
            height: 80%;
            border: solid;
            margin: auto;
            padding: 10px;
            text-align: center;
            background-color: var(--buttons--);
        }
        .card2{
            display: flex;
        }
        .img-card{
            width: 200px;
            height: 150px;
            border: solid;
        }
        .card-box1{
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
        }
        .card-box2{
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-left: 13px;
        }
        .btnInicio{
            display: flex;
        }
        nav{
            width: 40%;
        }
        .logo{
            width: 200px;
            height: 100px; 
        }
        .buscador2{
            display: none;
        }
        .bs{
            display: none;
        }
        .borrar{
            display: none;
        }
        @media (max-width: 420px) {
            .btnInicio{display: none;}
            header{
                justify-content: space-around;
            }
            nav{
               border: none;
               width: 20%;
            }
            .logo{
                width: 150px;
                height: 75px;
            }
            .buscador2{
                margin-top: 25px;
                display: block;
            }
            .box1{
                height: max-content;
            }
            .s1{
               display: none; 
            }
            .bg{
                width: 250px;
                border:solid;
                z-index: 1;
                display: block;
                margin-top: 30px;
                position: sticky;
                top: 50px;
                right: 15%;
                position: absolute;
                z-index: 1;
                border-radius: 50px;
            }

            .none{
                display: none;
            }
            footer{
                font-size: 10px;
                justify-content: space-between;
                height: 50px;
            }
            footer a{
                margin-top: 10px;
            }
            .s2{
                display: block;
                height: max-content;
                border: none;
            }
            .card{
                display: block;
                width: 80%;
                border: none;
                border: solid;
                margin-bottom: 20px;
            }
            .card2{
                width: 99%;
                display: block;;
            }.card-box1{
                display: block;
            }
            .card-box2{
                display: block;
            }
            .borrar{
            display: block;
            color: var(--color2--);
        }

        }