.fondo{
    background-color: rgba(255,250,249,255);    
}

.img{
    background-image: url("/imagen/img.jpg") ;
    background-size: 100%;
    width: 72 ;
    height: 72;
}

.imagen{
    background-image: url(/static/imagen/img.jpg);
}